<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="whMovement">
      <h2 data-cy="whMovementDetailsHeading"><span appTranslate="amSystemPlaygroundApp.whMovement.detail.title">Wh Movement</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ whMovement.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.movementType">Movement Type</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemPlaygroundApp.MovementType.' + whMovement.movementType }}">{{ whMovement.movementType }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.quantity">Quantity</span></dt>
        <dd>
          <span>{{ whMovement.quantity }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.reconciliationSource">Reconciliation Source</span></dt>
        <dd>
          <span>{{ whMovement.reconciliationSource }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.reconciliationDestination">Reconciliation Destination</span></dt>
        <dd>
          <span>{{ whMovement.reconciliationDestination }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.confirmedByOtherSide">Confirmed By Other Side</span></dt>
        <dd>
          <span>{{ whMovement.confirmedByOtherSide }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.comment">Comment</span></dt>
        <dd>
          <span>{{ whMovement.comment }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.createdBy">Created By</span></dt>
        <dd>
          <span>{{ whMovement.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ whMovement.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.day">Day</span></dt>
        <dd>
          <div *ngIf="whMovement.day">
            <a [routerLink]="['/working-day', whMovement.day?.id, 'view']">{{ whMovement.day?.dayLabel }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.initiatedWh">Initiated Wh</span></dt>
        <dd>
          <div *ngIf="whMovement.initiatedWh">
            <a [routerLink]="['/warehouse', whMovement.initiatedWh?.id, 'view']">{{ whMovement.initiatedWh?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.theOtherSideWh">The Other Side Wh</span></dt>
        <dd>
          <div *ngIf="whMovement.theOtherSideWh">
            <a [routerLink]="['/warehouse', whMovement.theOtherSideWh?.id, 'view']">{{ whMovement.theOtherSideWh?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.whMovement.team">Team</span></dt>
        <dd>
          <div *ngIf="whMovement.team">
            <a [routerLink]="['/team', whMovement.team?.id, 'view']">{{ whMovement.team?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/wh-movement', whMovement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
