<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="llinsFamilyTarget">
      <h2 data-cy="llinsFamilyTargetDetailsHeading">
        <span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.detail.title">Llins Family Target</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.uid">Uid</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.created">Created</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.residentsIndividualsPlanned">Residents Individuals Planned</span>
        </dt>
        <dd>
          <span>{{ llinsFamilyTarget.residentsIndividualsPlanned }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.idpsIndividualsPlanned">Idps Individuals Planned</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.idpsIndividualsPlanned }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.quantityPlanned">Quantity Planned</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.quantityPlanned }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.familyType">Family Type</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemPlaygroundApp.FamilyType.' + llinsFamilyTarget.familyType }}">{{
            llinsFamilyTarget.familyType
          }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.statusOfFamilyTarget">Status Of Family Target</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemPlaygroundApp.StatusOfFamilyTarget.' + llinsFamilyTarget.statusOfFamilyTarget }}">{{
            llinsFamilyTarget.statusOfFamilyTarget
          }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.createdBy">Created By</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ llinsFamilyTarget.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.dayPlanned">Day Planned</span></dt>
        <dd>
          <div *ngIf="llinsFamilyTarget.dayPlanned">
            <a [routerLink]="['/working-day', llinsFamilyTarget.dayPlanned?.id, 'view']">{{ llinsFamilyTarget.dayPlanned?.dayLabel }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.family">Family</span></dt>
        <dd>
          <div *ngIf="llinsFamilyTarget.family">
            <a [routerLink]="['/family', llinsFamilyTarget.family?.id, 'view']">{{ llinsFamilyTarget.family?.familyNo }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyTarget.teamAssigned">Team Assigned</span></dt>
        <dd>
          <div *ngIf="llinsFamilyTarget.teamAssigned">
            <a [routerLink]="['/team', llinsFamilyTarget.teamAssigned?.id, 'view']">{{ llinsFamilyTarget.teamAssigned?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/llins-family-target', llinsFamilyTarget.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
