<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="llinsVillageReportHistory">
      <h2 data-cy="llinsVillageReportHistoryDetailsHeading">
        <span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.detail.title">Llins Village Report History</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.uid">Uid</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.created">Created</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.houses">Houses</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.houses }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.residentHousehold">Resident Household</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.residentHousehold }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.idpsHousehold">Idps Household</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.idpsHousehold }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.maleIndividuals">Male Individuals</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.maleIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.femaleIndividuals">Female Individuals</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.femaleIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lessThan5Males">Less Than 5 Males</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.lessThan5Males }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lessThan5Females">Less Than 5 Females</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.lessThan5Females }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.pregnantWomen">Pregnant Women</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.pregnantWomen }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.quantityReceived">Quantity Received</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.quantityReceived }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.createdBy">Created By</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ llinsVillageReportHistory.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.dayReached">Day Reached</span></dt>
        <dd>
          <div *ngIf="llinsVillageReportHistory.dayReached">
            <a [routerLink]="['/working-day', llinsVillageReportHistory.dayReached?.id, 'view']">{{
              llinsVillageReportHistory.dayReached?.dayLabel
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.llinsVillageReport">Llins Village Report</span></dt>
        <dd>
          <div *ngIf="llinsVillageReportHistory.llinsVillageReport">
            <a [routerLink]="['/llins-village-report', llinsVillageReportHistory.llinsVillageReport?.id, 'view']">{{
              llinsVillageReportHistory.llinsVillageReport?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/llins-village-report-history', llinsVillageReportHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
