<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cHVMalariaReportVersion1">
      <h2 data-cy="cHVMalariaReportVersion1DetailsHeading">
        <span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.detail.title">CHV Malaria Report Version 1</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.uid">Uid</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.created">Created</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.tested">Tested</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.tested }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.positive">Positive</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.positive }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.drugsGiven">Drugs Given</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.drugsGiven }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.suppsGiven">Supps Given</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.suppsGiven }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.rdtBalance">Rdt Balance</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.rdtBalance }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.rdtReceived">Rdt Received</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.rdtReceived }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.rdtUsed">Rdt Used</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.rdtUsed }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.rdtDamagedLost">Rdt Damaged Lost</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.rdtDamagedLost }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.drugsBalance">Drugs Balance</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.drugsBalance }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.drugsReceived">Drugs Received</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.drugsReceived }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.drugsUsed">Drugs Used</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.drugsUsed }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.drugsDamagedLost">Drugs Damaged Lost</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.drugsDamagedLost }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.suppsBalance">Supps Balance</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.suppsBalance }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.suppsReceived">Supps Received</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.suppsReceived }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.suppsUsed">Supps Used</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.suppsUsed }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.suppsDamagedLost">Supps Damaged Lost</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.suppsDamagedLost }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.comment">Comment</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.comment }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.createdBy">Created By</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ cHVMalariaReportVersion1.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.chv">Chv</span></dt>
        <dd>
          <div *ngIf="cHVMalariaReportVersion1.chv">
            <a [routerLink]="['/chv', cHVMalariaReportVersion1.chv?.id, 'view']">{{ cHVMalariaReportVersion1.chv?.code }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.cHVMalariaReportVersion1.period">Period</span></dt>
        <dd>
          <div *ngIf="cHVMalariaReportVersion1.period">
            <a [routerLink]="['/period', cHVMalariaReportVersion1.period?.id, 'view']">{{ cHVMalariaReportVersion1.period?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chv-malaria-report-version-1', cHVMalariaReportVersion1.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
