<div>
  <h2 id="page-heading" data-cy="WHMovementHeading">
    <span appTranslate="amSystemPlaygroundApp.wHMovement.home.title">WH Movements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.wHMovement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wh-movement"
        [routerLink]="['/wh-movement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.wHMovement.home.createLabel"> Create a new WH Movement </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wHMovements?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.wHMovement.home.notFound">No wHMovements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wHMovements && wHMovements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="movementType">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.movementType">Movement Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="quantity">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="reconciliationSource">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.reconciliationSource">Reconciliation Source</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="reconciliationDestination">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.reconciliationDestination">Reconciliation Destination</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="confirmedByOtherSide">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.confirmedByOtherSide">Confirmed By Other Side</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="comment">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="user.login">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdatedBy.login">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="day.dayLabel">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.day">Day</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="initiatedWH.name">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.initiatedWH">Initiated WH</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="theOtherSideWH.name">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.theOtherSideWH">The Other Side WH</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="team.name">
            <span appTranslate="amSystemPlaygroundApp.wHMovement.team">Team</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wHMovement of wHMovements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wh-movement', wHMovement.id, 'view']">{{ wHMovement.id }}</a>
          </td>
          <td appTranslate="{{ 'amSystemPlaygroundApp.MovementType.' + wHMovement.movementType }}">{{ wHMovement.movementType }}</td>
          <td>{{ wHMovement.quantity }}</td>
          <td>{{ wHMovement.reconciliationSource }}</td>
          <td>{{ wHMovement.reconciliationDestination }}</td>
          <td>{{ wHMovement.confirmedByOtherSide }}</td>
          <td>{{ wHMovement.comment }}</td>
          <td>
            {{ wHMovement.user?.login }}
          </td>
          <td>
            {{ wHMovement.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="wHMovement.day">
              <a [routerLink]="['/working-day', wHMovement.day?.id, 'view']">{{ wHMovement.day?.dayLabel }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="wHMovement.initiatedWH">
              <a [routerLink]="['/warehouse', wHMovement.initiatedWH?.id, 'view']">{{ wHMovement.initiatedWH?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="wHMovement.theOtherSideWH">
              <a [routerLink]="['/warehouse', wHMovement.theOtherSideWH?.id, 'view']">{{ wHMovement.theOtherSideWH?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="wHMovement.team">
              <a [routerLink]="['/team', wHMovement.team?.id, 'view']">{{ wHMovement.team?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wh-movement', wHMovement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wh-movement', wHMovement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wHMovement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="wHMovements && wHMovements.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
