<div>
  <h2 id="page-heading" data-cy="ChvTeamHeading">
    <span appTranslate="amSystemPlaygroundApp.chvTeam.home.title">Chv Teams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chvTeam.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chv-team"
        [routerLink]="['/chv-team/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chvTeam.home.createLabel"> Create a new Chv Team </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chvTeams?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.chvTeam.home.notFound">No chvTeams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chvTeams && chvTeams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="uid">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.uid">Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="code">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="name">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="description">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="created">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdated">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.lastUpdated">Last Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="teamNo">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.teamNo">Team No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="teamType">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.teamType">Team Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdatedBy.login">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="person.name">
            <span appTranslate="amSystemPlaygroundApp.chvTeam.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chvTeam of chvTeams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chv-team', chvTeam.id, 'view']">{{ chvTeam.id }}</a>
          </td>
          <td>{{ chvTeam.uid }}</td>
          <td>{{ chvTeam.code }}</td>
          <td>{{ chvTeam.name }}</td>
          <td>{{ chvTeam.description }}</td>
          <td>{{ chvTeam.created | formatMediumDatetime }}</td>
          <td>{{ chvTeam.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ chvTeam.teamNo }}</td>
          <td appTranslate="{{ 'amSystemPlaygroundApp.ChvTeamType.' + chvTeam.teamType }}">{{ chvTeam.teamType }}</td>
          <td>
            {{ chvTeam.createdBy?.login }}
          </td>
          <td>
            {{ chvTeam.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="chvTeam.person">
              <a [routerLink]="['/person', chvTeam.person?.id, 'view']">{{ chvTeam.person?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chv-team', chvTeam.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chv-team', chvTeam.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chvTeam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chvTeams && chvTeams.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
