<div>
  <h2 id="page-heading" data-cy="ChvMalariaReportVersion1Heading">
    <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.home.title">Chv Malaria Report Version 1 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chv-malaria-report-version-1"
        [routerLink]="['/chv-malaria-report-version-1/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.home.createLabel">
          Create a new Chv Malaria Report Version 1
        </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chvMalariaReportVersion1s?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.home.notFound">No chvMalariaReportVersion1s found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chvMalariaReportVersion1s && chvMalariaReportVersion1s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="uid">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.uid">Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="created">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdated">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.lastUpdated">Last Updated</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="tested">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.tested">Tested</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="positive">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.positive">Positive</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="drugsGiven">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.drugsGiven">Drugs Given</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="suppsGiven">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.suppsGiven">Supps Given</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="rdtBalance">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.rdtBalance">Rdt Balance</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="rdtReceived">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.rdtReceived">Rdt Received</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="rdtUsed">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.rdtUsed">Rdt Used</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="rdtDamagedLost">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.rdtDamagedLost">Rdt Damaged Lost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="drugsBalance">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.drugsBalance">Drugs Balance</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="drugsReceived">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.drugsReceived">Drugs Received</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="drugsUsed">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.drugsUsed">Drugs Used</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="drugsDamagedLost">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.drugsDamagedLost">Drugs Damaged Lost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="suppsBalance">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.suppsBalance">Supps Balance</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="suppsReceived">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.suppsReceived">Supps Received</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="suppsUsed">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.suppsUsed">Supps Used</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="suppsDamagedLost">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.suppsDamagedLost">Supps Damaged Lost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="comment">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdatedBy.login">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.lastUpdatedBy">Last Updated By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="chv.code">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.chv">Chv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="period.name">
            <span appTranslate="amSystemPlaygroundApp.chvMalariaReportVersion1.period">Period</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chvMalariaReportVersion1 of chvMalariaReportVersion1s; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chv-malaria-report-version-1', chvMalariaReportVersion1.id, 'view']">{{ chvMalariaReportVersion1.id }}</a>
          </td>
          <td>{{ chvMalariaReportVersion1.uid }}</td>
          <td>{{ chvMalariaReportVersion1.created | formatMediumDatetime }}</td>
          <td>{{ chvMalariaReportVersion1.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ chvMalariaReportVersion1.tested }}</td>
          <td>{{ chvMalariaReportVersion1.positive }}</td>
          <td>{{ chvMalariaReportVersion1.drugsGiven }}</td>
          <td>{{ chvMalariaReportVersion1.suppsGiven }}</td>
          <td>{{ chvMalariaReportVersion1.rdtBalance }}</td>
          <td>{{ chvMalariaReportVersion1.rdtReceived }}</td>
          <td>{{ chvMalariaReportVersion1.rdtUsed }}</td>
          <td>{{ chvMalariaReportVersion1.rdtDamagedLost }}</td>
          <td>{{ chvMalariaReportVersion1.drugsBalance }}</td>
          <td>{{ chvMalariaReportVersion1.drugsReceived }}</td>
          <td>{{ chvMalariaReportVersion1.drugsUsed }}</td>
          <td>{{ chvMalariaReportVersion1.drugsDamagedLost }}</td>
          <td>{{ chvMalariaReportVersion1.suppsBalance }}</td>
          <td>{{ chvMalariaReportVersion1.suppsReceived }}</td>
          <td>{{ chvMalariaReportVersion1.suppsUsed }}</td>
          <td>{{ chvMalariaReportVersion1.suppsDamagedLost }}</td>
          <td>{{ chvMalariaReportVersion1.comment }}</td>
          <td>
            {{ chvMalariaReportVersion1.createdBy?.login }}
          </td>
          <td>
            {{ chvMalariaReportVersion1.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="chvMalariaReportVersion1.chv">
              <a [routerLink]="['/chv', chvMalariaReportVersion1.chv?.id, 'view']">{{ chvMalariaReportVersion1.chv?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chvMalariaReportVersion1.period">
              <a [routerLink]="['/period', chvMalariaReportVersion1.period?.id, 'view']">{{ chvMalariaReportVersion1.period?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chv-malaria-report-version-1', chvMalariaReportVersion1.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chv-malaria-report-version-1', chvMalariaReportVersion1.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chvMalariaReportVersion1)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chvMalariaReportVersion1s && chvMalariaReportVersion1s.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
