<div>
  <h2 id="page-heading" data-cy="OrganisationUnitLevelHeading">
    <span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.home.title">Organisation Unit Levels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organisation-unit-level"
        [routerLink]="['/organisation-unit-level/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.home.createLabel"> Create a new Organisation Unit Level </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organisationUnitLevels?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.home.notFound">No organisationUnitLevels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="organisationUnitLevels && organisationUnitLevels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span appTranslate="global.field.id">ID</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.uid">Uid</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.code">Code</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.name">Name</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.created">Created</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.lastUpdated">Last Updated</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.level">Level</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.organisationUnitLevel.offlineLevels">Offline Levels</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organisationUnitLevel of organisationUnitLevels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organisation-unit-level', organisationUnitLevel.id, 'view']">{{ organisationUnitLevel.id }}</a>
          </td>
          <td>{{ organisationUnitLevel.uid }}</td>
          <td>{{ organisationUnitLevel.code }}</td>
          <td>{{ organisationUnitLevel.name }}</td>
          <td>{{ organisationUnitLevel.created | formatMediumDatetime }}</td>
          <td>{{ organisationUnitLevel.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ organisationUnitLevel.level }}</td>
          <td>{{ organisationUnitLevel.offlineLevels }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/organisation-unit-level', organisationUnitLevel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/organisation-unit-level', organisationUnitLevel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(organisationUnitLevel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
