<div>
  <h2 id="page-heading" data-cy="LLINSVillageTargetHeading">
    <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.home.title">LLINS Village Targets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-llins-village-target"
        [routerLink]="['/llins-village-target/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.home.createLabel"> Create a new LLINS Village Target </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lLINSVillageTargets?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.home.notFound">No lLINSVillageTargets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lLINSVillageTargets && lLINSVillageTargets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="uid">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.uid">Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="created">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdated">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.lastUpdated">Last Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="residentsIndividuals">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.residentsIndividuals">Residents Individuals</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="idpsIndividuals">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.idpsIndividuals">Idps Individuals</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="residentsFamilies">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.residentsFamilies">Residents Families</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="idpsFamilies">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.idpsFamilies">Idps Families</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="noOfDaysNeeded">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.noOfDaysNeeded">No Of Days Needed</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="quantity">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="organisationUnit.name">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.organisationUnit">Organisation Unit</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="user.login">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdatedBy.login">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.lastUpdatedBy">Last Updated By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="dayPlanned.dayLabel">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.dayPlanned">Day Planned</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="statusOfCoverage.status">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.statusOfCoverage">Status Of Coverage</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="teamAssigned.name">
            <span appTranslate="amSystemPlaygroundApp.lLINSVillageTarget.teamAssigned">Team Assigned</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lLINSVillageTarget of lLINSVillageTargets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/llins-village-target', lLINSVillageTarget.id, 'view']">{{ lLINSVillageTarget.id }}</a>
          </td>
          <td>{{ lLINSVillageTarget.uid }}</td>
          <td>{{ lLINSVillageTarget.created | formatMediumDatetime }}</td>
          <td>{{ lLINSVillageTarget.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ lLINSVillageTarget.residentsIndividuals }}</td>
          <td>{{ lLINSVillageTarget.idpsIndividuals }}</td>
          <td>{{ lLINSVillageTarget.residentsFamilies }}</td>
          <td>{{ lLINSVillageTarget.idpsFamilies }}</td>
          <td>{{ lLINSVillageTarget.noOfDaysNeeded }}</td>
          <td>{{ lLINSVillageTarget.quantity }}</td>
          <td>
            <div *ngIf="lLINSVillageTarget.organisationUnit">
              <a [routerLink]="['/organisation-unit', lLINSVillageTarget.organisationUnit?.id, 'view']">{{
                lLINSVillageTarget.organisationUnit?.name
              }}</a>
            </div>
          </td>
          <td>
            {{ lLINSVillageTarget.user?.login }}
          </td>
          <td>
            {{ lLINSVillageTarget.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="lLINSVillageTarget.dayPlanned">
              <a [routerLink]="['/working-day', lLINSVillageTarget.dayPlanned?.id, 'view']">{{
                lLINSVillageTarget.dayPlanned?.dayLabel
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lLINSVillageTarget.statusOfCoverage">
              <a [routerLink]="['/status-of-coverage', lLINSVillageTarget.statusOfCoverage?.id, 'view']">{{
                lLINSVillageTarget.statusOfCoverage?.status
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lLINSVillageTarget.teamAssigned">
              <a [routerLink]="['/team', lLINSVillageTarget.teamAssigned?.id, 'view']">{{ lLINSVillageTarget.teamAssigned?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/llins-village-target', lLINSVillageTarget.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/llins-village-target', lLINSVillageTarget.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lLINSVillageTarget)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="lLINSVillageTargets && lLINSVillageTargets.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
