<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-data-set-heading"
        data-cy="DataSetCreateUpdateHeading"
        appTranslate="amSystemPlaygroundApp.dataSet.home.createOrEditLabel"
      >
        Create or edit a Data Set
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.uid" for="field_uid">Uid</label>
          <input type="text" class="form-control" name="uid" id="field_uid" data-cy="uid" formControlName="uid" />
          <div *ngIf="editForm.get('uid')!.invalid && (editForm.get('uid')!.dirty || editForm.get('uid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uid')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('uid')?.errors?.maxlength"
              appTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be longer than 11 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.shortName" for="field_shortName">Short Name</label>
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
          <div *ngIf="editForm.get('shortName')!.invalid && (editForm.get('shortName')!.dirty || editForm.get('shortName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortName')?.errors?.maxlength"
              appTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.lastUpdated" for="field_lastUpdated"
            >Last Updated</label
          >
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.expiryDays" for="field_expiryDays"
            >Expiry Days</label
          >
          <input
            type="number"
            class="form-control"
            name="expiryDays"
            id="field_expiryDays"
            data-cy="expiryDays"
            formControlName="expiryDays"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.timelyDays" for="field_timelyDays"
            >Timely Days</label
          >
          <input
            type="number"
            class="form-control"
            name="timelyDays"
            id="field_timelyDays"
            data-cy="timelyDays"
            formControlName="timelyDays"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.periodType" for="field_periodType"
            >Period Type</label
          >
          <select class="form-control" id="field_periodType" data-cy="periodType" name="periodType" formControlName="periodType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                periodTypeOption.id === editForm.get('periodType')!.value?.id ? editForm.get('periodType')!.value : periodTypeOption
              "
              *ngFor="let periodTypeOption of periodTypesSharedCollection; trackBy: trackPeriodTypeById"
            >
              {{ periodTypeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.dataSet.notificationRecipients"
            for="field_notificationRecipients"
            >Notification Recipients</label
          >
          <select
            class="form-control"
            id="field_notificationRecipients"
            data-cy="notificationRecipients"
            name="notificationRecipients"
            formControlName="notificationRecipients"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                peopleGroupOption.id === editForm.get('notificationRecipients')!.value?.id
                  ? editForm.get('notificationRecipients')!.value
                  : peopleGroupOption
              "
              *ngFor="let peopleGroupOption of peopleGroupsSharedCollection; trackBy: trackPeopleGroupById"
            >
              {{ peopleGroupOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataSet.lastUpdatedBy" for="field_lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('lastUpdatedBy')!.value?.id ? editForm.get('lastUpdatedBy')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label appTranslate="amSystemPlaygroundApp.dataSet.source" for="field_sources">Source</label>
          <select class="form-control" id="field_sources" data-cy="source" multiple name="sources" formControlName="sources">
            <option
              [ngValue]="getSelectedOrganisationUnit(organisationUnitOption, editForm.get('sources')!.value)"
              *ngFor="let organisationUnitOption of organisationUnitsSharedCollection; trackBy: trackOrganisationUnitById"
            >
              {{ organisationUnitOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
