<div>
  <h2 id="page-heading" data-cy="FileResourceHeading">
    <span appTranslate="amSystemPlaygroundApp.fileResource.home.title">File Resources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.fileResource.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-resource"
        [routerLink]="['/file-resource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.fileResource.home.createLabel"> Create a new File Resource </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fileResources?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.fileResource.home.notFound">No fileResources found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fileResources && fileResources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span appTranslate="global.field.id">ID</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.uid">Uid</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.code">Code</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.name">Name</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.created">Created</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.lastUpdated">Last Updated</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.contentType">Content Type</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.contentLength">Content Length</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.contentMd5">Content Md 5</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.storageKey">Storage Key</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.assigned">Assigned</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.domain">Domain</span></th>
          <th scope="col">
            <span appTranslate="amSystemPlaygroundApp.fileResource.hasMultipleStorageFiles">Has Multiple Storage Files</span>
          </th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.createdBy">Created By</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.fileResource.lastUpdatedBy">Last Updated By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileResource of fileResources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-resource', fileResource.id, 'view']">{{ fileResource.id }}</a>
          </td>
          <td>{{ fileResource.uid }}</td>
          <td>{{ fileResource.code }}</td>
          <td>{{ fileResource.name }}</td>
          <td>{{ fileResource.created | formatMediumDatetime }}</td>
          <td>{{ fileResource.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ fileResource.contentType }}</td>
          <td>{{ fileResource.contentLength }}</td>
          <td>{{ fileResource.contentMd5 }}</td>
          <td>{{ fileResource.storageKey }}</td>
          <td>{{ fileResource.assigned }}</td>
          <td appTranslate="{{ 'amSystemPlaygroundApp.FileResourceDomain.' + fileResource.domain }}">{{ fileResource.domain }}</td>
          <td>{{ fileResource.hasMultipleStorageFiles }}</td>
          <td>
            {{ fileResource.createdBy?.login }}
          </td>
          <td>
            {{ fileResource.lastUpdatedBy?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/file-resource', fileResource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/file-resource', fileResource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fileResource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
