<div>
  <h2 id="page-heading" data-cy="LlinsFamilyReportHistoryHeading">
    <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.home.title">Llins Family Report Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-llins-family-report-history"
        [routerLink]="['/llins-family-report-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.home.createLabel">
          Create a new Llins Family Report History
        </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="llinsFamilyReportHistories?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.home.notFound">No llinsFamilyReportHistories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="llinsFamilyReportHistories && llinsFamilyReportHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span appTranslate="global.field.id">ID</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.uid">Uid</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.created">Created</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lastUpdated">Last Updated</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.documentNo">Document No</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.maleIndividuals">Male Individuals</span></th>
          <th scope="col">
            <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.femaleIndividuals">Female Individuals</span>
          </th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lessThan5Males">Less Than 5 Males</span></th>
          <th scope="col">
            <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lessThan5Females">Less Than 5 Females</span>
          </th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.pregnantWomen">Pregnant Women</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.quantityReceived">Quantity Received</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.familyType">Family Type</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.createdBy">Created By</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lastUpdatedBy">Last Updated By</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.dayReached">Day Reached</span></th>
          <th scope="col">
            <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.llinsFamilyReport">Llins Family Report</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let llinsFamilyReportHistory of llinsFamilyReportHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/llins-family-report-history', llinsFamilyReportHistory.id, 'view']">{{ llinsFamilyReportHistory.id }}</a>
          </td>
          <td>{{ llinsFamilyReportHistory.uid }}</td>
          <td>{{ llinsFamilyReportHistory.created | formatMediumDatetime }}</td>
          <td>{{ llinsFamilyReportHistory.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ llinsFamilyReportHistory.documentNo }}</td>
          <td>{{ llinsFamilyReportHistory.maleIndividuals }}</td>
          <td>{{ llinsFamilyReportHistory.femaleIndividuals }}</td>
          <td>{{ llinsFamilyReportHistory.lessThan5Males }}</td>
          <td>{{ llinsFamilyReportHistory.lessThan5Females }}</td>
          <td>{{ llinsFamilyReportHistory.pregnantWomen }}</td>
          <td>{{ llinsFamilyReportHistory.quantityReceived }}</td>
          <td appTranslate="{{ 'amSystemPlaygroundApp.FamilyType.' + llinsFamilyReportHistory.familyType }}">
            {{ llinsFamilyReportHistory.familyType }}
          </td>
          <td>
            {{ llinsFamilyReportHistory.createdBy?.login }}
          </td>
          <td>
            {{ llinsFamilyReportHistory.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="llinsFamilyReportHistory.dayReached">
              <a [routerLink]="['/working-day', llinsFamilyReportHistory.dayReached?.id, 'view']">{{
                llinsFamilyReportHistory.dayReached?.dayLabel
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="llinsFamilyReportHistory.llinsFamilyReport">
              <a [routerLink]="['/llins-family-report', llinsFamilyReportHistory.llinsFamilyReport?.id, 'view']">{{
                llinsFamilyReportHistory.llinsFamilyReport?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/llins-family-report-history', llinsFamilyReportHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/llins-family-report-history', llinsFamilyReportHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(llinsFamilyReportHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
