<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="familyHead">
      <h2 data-cy="familyHeadDetailsHeading"><span appTranslate="amSystemPlaygroundApp.familyHead.detail.title">Family Head</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ familyHead.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.uid">Uid</span></dt>
        <dd>
          <span>{{ familyHead.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.code">Code</span></dt>
        <dd>
          <span>{{ familyHead.code }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.name">Name</span></dt>
        <dd>
          <span>{{ familyHead.name }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.description">Description</span></dt>
        <dd>
          <span>{{ familyHead.description }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.created">Created</span></dt>
        <dd>
          <span>{{ familyHead.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ familyHead.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.mobile">Mobile</span></dt>
        <dd>
          <span>{{ familyHead.mobile }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.createdBy">Created By</span></dt>
        <dd>
          <span>{{ familyHead.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ familyHead.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.familyHead.family">Family</span></dt>
        <dd>
          <div *ngIf="familyHead.family">
            <a [routerLink]="['/family', familyHead.family?.id, 'view']">{{ familyHead.family?.familyNo }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/family-head', familyHead.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
