<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="llinsFamilyReportHistory">
      <h2 data-cy="llinsFamilyReportHistoryDetailsHeading">
        <span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.detail.title">Llins Family Report History</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.uid">Uid</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.created">Created</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.documentNo">Document No</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.documentNo }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.maleIndividuals">Male Individuals</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.maleIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.femaleIndividuals">Female Individuals</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.femaleIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lessThan5Males">Less Than 5 Males</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.lessThan5Males }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lessThan5Females">Less Than 5 Females</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.lessThan5Females }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.pregnantWomen">Pregnant Women</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.pregnantWomen }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.quantityReceived">Quantity Received</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.quantityReceived }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.familyType">Family Type</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemPlaygroundApp.FamilyType.' + llinsFamilyReportHistory.familyType }}">{{
            llinsFamilyReportHistory.familyType
          }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.createdBy">Created By</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ llinsFamilyReportHistory.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.dayReached">Day Reached</span></dt>
        <dd>
          <div *ngIf="llinsFamilyReportHistory.dayReached">
            <a [routerLink]="['/working-day', llinsFamilyReportHistory.dayReached?.id, 'view']">{{
              llinsFamilyReportHistory.dayReached?.dayLabel
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsFamilyReportHistory.llinsFamilyReport">Llins Family Report</span></dt>
        <dd>
          <div *ngIf="llinsFamilyReportHistory.llinsFamilyReport">
            <a [routerLink]="['/llins-family-report', llinsFamilyReportHistory.llinsFamilyReport?.id, 'view']">{{
              llinsFamilyReportHistory.llinsFamilyReport?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/llins-family-report-history', llinsFamilyReportHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
