<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="llinsVillageTarget">
      <h2 data-cy="llinsVillageTargetDetailsHeading">
        <span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.detail.title">Llins Village Target</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.uid">Uid</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.created">Created</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.residentsIndividuals">Residents Individuals</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.residentsIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.idpsIndividuals">Idps Individuals</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.idpsIndividuals }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.residentsFamilies">Residents Families</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.residentsFamilies }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.idpsFamilies">Idps Families</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.idpsFamilies }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.noOfDaysNeeded">No Of Days Needed</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.noOfDaysNeeded }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.quantity">Quantity</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.quantity }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.organisationUnit">Organisation Unit</span></dt>
        <dd>
          <div *ngIf="llinsVillageTarget.organisationUnit">
            <a [routerLink]="['/organisation-unit', llinsVillageTarget.organisationUnit?.id, 'view']">{{
              llinsVillageTarget.organisationUnit?.name
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.createdBy">Created By</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ llinsVillageTarget.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.dayPlanned">Day Planned</span></dt>
        <dd>
          <div *ngIf="llinsVillageTarget.dayPlanned">
            <a [routerLink]="['/working-day', llinsVillageTarget.dayPlanned?.id, 'view']">{{ llinsVillageTarget.dayPlanned?.dayLabel }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.statusOfCoverage">Status Of Coverage</span></dt>
        <dd>
          <div *ngIf="llinsVillageTarget.statusOfCoverage">
            <a [routerLink]="['/status-of-coverage', llinsVillageTarget.statusOfCoverage?.id, 'view']">{{
              llinsVillageTarget.statusOfCoverage?.status
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.llinsVillageTarget.teamAssigned">Team Assigned</span></dt>
        <dd>
          <div *ngIf="llinsVillageTarget.teamAssigned">
            <a [routerLink]="['/team', llinsVillageTarget.teamAssigned?.id, 'view']">{{ llinsVillageTarget.teamAssigned?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/llins-village-target', llinsVillageTarget.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
