<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-data-input-period-heading"
        data-cy="DataInputPeriodCreateUpdateHeading"
        appTranslate="amSystemPlaygroundApp.dataInputPeriod.home.createOrEditLabel"
      >
        Create or edit a Data Input Period
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataInputPeriod.openingDate" for="field_openingDate"
            >Opening Date</label
          >
          <div class="input-group">
            <input
              id="field_openingDate"
              data-cy="openingDate"
              type="text"
              class="form-control"
              name="openingDate"
              ngbDatepicker
              #openingDateDp="ngbDatepicker"
              formControlName="openingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="openingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataInputPeriod.closingDate" for="field_closingDate"
            >Closing Date</label
          >
          <div class="input-group">
            <input
              id="field_closingDate"
              data-cy="closingDate"
              type="text"
              class="form-control"
              name="closingDate"
              ngbDatepicker
              #closingDateDp="ngbDatepicker"
              formControlName="closingDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="closingDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataInputPeriod.period" for="field_period">Period</label>
          <select class="form-control" id="field_period" data-cy="period" name="period" formControlName="period">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="periodOption.id === editForm.get('period')!.value?.id ? editForm.get('period')!.value : periodOption"
              *ngFor="let periodOption of periodsSharedCollection; trackBy: trackPeriodById"
            >
              {{ periodOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.dataInputPeriod.dataSet" for="field_dataSet"
            >Data Set</label
          >
          <select class="form-control" id="field_dataSet" data-cy="dataSet" name="dataSet" formControlName="dataSet">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dataSetOption.id === editForm.get('dataSet')!.value?.id ? editForm.get('dataSet')!.value : dataSetOption"
              *ngFor="let dataSetOption of dataSetsSharedCollection; trackBy: trackDataSetById"
            >
              {{ dataSetOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
