<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chv">
      <h2 data-cy="chvDetailsHeading"><span appTranslate="amSystemPlaygroundApp.chv.detail.title">Chv</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chv.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.uid">Uid</span></dt>
        <dd>
          <span>{{ chv.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.code">Code</span></dt>
        <dd>
          <span>{{ chv.code }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.description">Description</span></dt>
        <dd>
          <span>{{ chv.description }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.created">Created</span></dt>
        <dd>
          <span>{{ chv.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ chv.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.mobile">Mobile</span></dt>
        <dd>
          <span>{{ chv.mobile }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.person">Person</span></dt>
        <dd>
          <div *ngIf="chv.person">
            <a [routerLink]="['/person', chv.person?.id, 'view']">{{ chv.person?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.district">District</span></dt>
        <dd>
          <div *ngIf="chv.district">
            <a [routerLink]="['/organisation-unit', chv.district?.id, 'view']">{{ chv.district?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.homeSubvillage">Home Subvillage</span></dt>
        <dd>
          <div *ngIf="chv.homeSubvillage">
            <a [routerLink]="['/organisation-unit', chv.homeSubvillage?.id, 'view']">{{ chv.homeSubvillage?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.managedByHf">Managed By Hf</span></dt>
        <dd>
          <div *ngIf="chv.managedByHf">
            <a [routerLink]="['/organisation-unit', chv.managedByHf?.id, 'view']">{{ chv.managedByHf?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.createdBy">Created By</span></dt>
        <dd>
          <span>{{ chv.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chv.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ chv.lastUpdatedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chv', chv.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
