<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-llins-village-report-history-heading"
        data-cy="LlinsVillageReportHistoryCreateUpdateHeading"
        appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.home.createOrEditLabel"
      >
        Create or edit a Llins Village Report History
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.uid" for="field_uid">Uid</label>
          <input type="text" class="form-control" name="uid" id="field_uid" data-cy="uid" formControlName="uid" />
          <div *ngIf="editForm.get('uid')!.invalid && (editForm.get('uid')!.dirty || editForm.get('uid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uid')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('uid')?.errors?.maxlength"
              appTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be longer than 11 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.created" for="field_created"
            >Created</label
          >
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lastUpdated"
            for="field_lastUpdated"
            >Last Updated</label
          >
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.houses" for="field_houses"
            >Houses</label
          >
          <input type="number" class="form-control" name="houses" id="field_houses" data-cy="houses" formControlName="houses" />
          <div *ngIf="editForm.get('houses')!.invalid && (editForm.get('houses')!.dirty || editForm.get('houses')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('houses')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('houses')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('houses')?.errors?.number" appTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.residentHousehold"
            for="field_residentHousehold"
            >Resident Household</label
          >
          <input
            type="number"
            class="form-control"
            name="residentHousehold"
            id="field_residentHousehold"
            data-cy="residentHousehold"
            formControlName="residentHousehold"
          />
          <div
            *ngIf="
              editForm.get('residentHousehold')!.invalid &&
              (editForm.get('residentHousehold')!.dirty || editForm.get('residentHousehold')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('residentHousehold')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('residentHousehold')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('residentHousehold')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.idpsHousehold"
            for="field_idpsHousehold"
            >Idps Household</label
          >
          <input
            type="number"
            class="form-control"
            name="idpsHousehold"
            id="field_idpsHousehold"
            data-cy="idpsHousehold"
            formControlName="idpsHousehold"
          />
          <div
            *ngIf="
              editForm.get('idpsHousehold')!.invalid && (editForm.get('idpsHousehold')!.dirty || editForm.get('idpsHousehold')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idpsHousehold')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idpsHousehold')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idpsHousehold')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.maleIndividuals"
            for="field_maleIndividuals"
            >Male Individuals</label
          >
          <input
            type="number"
            class="form-control"
            name="maleIndividuals"
            id="field_maleIndividuals"
            data-cy="maleIndividuals"
            formControlName="maleIndividuals"
          />
          <div
            *ngIf="
              editForm.get('maleIndividuals')!.invalid &&
              (editForm.get('maleIndividuals')!.dirty || editForm.get('maleIndividuals')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maleIndividuals')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maleIndividuals')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.femaleIndividuals"
            for="field_femaleIndividuals"
            >Female Individuals</label
          >
          <input
            type="number"
            class="form-control"
            name="femaleIndividuals"
            id="field_femaleIndividuals"
            data-cy="femaleIndividuals"
            formControlName="femaleIndividuals"
          />
          <div
            *ngIf="
              editForm.get('femaleIndividuals')!.invalid &&
              (editForm.get('femaleIndividuals')!.dirty || editForm.get('femaleIndividuals')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('femaleIndividuals')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('femaleIndividuals')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lessThan5Males"
            for="field_lessThan5Males"
            >Less Than 5 Males</label
          >
          <input
            type="number"
            class="form-control"
            name="lessThan5Males"
            id="field_lessThan5Males"
            data-cy="lessThan5Males"
            formControlName="lessThan5Males"
          />
          <div
            *ngIf="
              editForm.get('lessThan5Males')!.invalid && (editForm.get('lessThan5Males')!.dirty || editForm.get('lessThan5Males')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lessThan5Males')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lessThan5Males')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lessThan5Females"
            for="field_lessThan5Females"
            >Less Than 5 Females</label
          >
          <input
            type="number"
            class="form-control"
            name="lessThan5Females"
            id="field_lessThan5Females"
            data-cy="lessThan5Females"
            formControlName="lessThan5Females"
          />
          <div
            *ngIf="
              editForm.get('lessThan5Females')!.invalid &&
              (editForm.get('lessThan5Females')!.dirty || editForm.get('lessThan5Females')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lessThan5Females')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lessThan5Females')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.pregnantWomen"
            for="field_pregnantWomen"
            >Pregnant Women</label
          >
          <input
            type="number"
            class="form-control"
            name="pregnantWomen"
            id="field_pregnantWomen"
            data-cy="pregnantWomen"
            formControlName="pregnantWomen"
          />
          <div
            *ngIf="
              editForm.get('pregnantWomen')!.invalid && (editForm.get('pregnantWomen')!.dirty || editForm.get('pregnantWomen')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pregnantWomen')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pregnantWomen')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.quantityReceived"
            for="field_quantityReceived"
            >Quantity Received</label
          >
          <input
            type="number"
            class="form-control"
            name="quantityReceived"
            id="field_quantityReceived"
            data-cy="quantityReceived"
            formControlName="quantityReceived"
          />
          <div
            *ngIf="
              editForm.get('quantityReceived')!.invalid &&
              (editForm.get('quantityReceived')!.dirty || editForm.get('quantityReceived')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantityReceived')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantityReceived')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantityReceived')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.createdBy" for="field_createdBy"
            >Created By</label
          >
          <select class="form-control" id="field_createdBy" data-cy="createdBy" name="createdBy" formControlName="createdBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('createdBy')!.value?.id ? editForm.get('createdBy')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.lastUpdatedBy"
            for="field_lastUpdatedBy"
            >Last Updated By</label
          >
          <select
            class="form-control"
            id="field_lastUpdatedBy"
            data-cy="lastUpdatedBy"
            name="lastUpdatedBy"
            formControlName="lastUpdatedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('lastUpdatedBy')!.value?.id ? editForm.get('lastUpdatedBy')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.dayReached" for="field_dayReached"
            >Day Reached</label
          >
          <select class="form-control" id="field_dayReached" data-cy="dayReached" name="dayReached" formControlName="dayReached">
            <option *ngIf="!editForm.get('dayReached')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                workingDayOption.id === editForm.get('dayReached')!.value?.id ? editForm.get('dayReached')!.value : workingDayOption
              "
              *ngFor="let workingDayOption of workingDaysSharedCollection; trackBy: trackWorkingDayById"
            >
              {{ workingDayOption.dayLabel }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['dayReached'])!.invalid && (editForm.get(['dayReached'])!.dirty || editForm.get(['dayReached'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['dayReached'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            appTranslate="amSystemPlaygroundApp.llinsVillageReportHistory.llinsVillageReport"
            for="field_llinsVillageReport"
            >Llins Village Report</label
          >
          <select
            class="form-control"
            id="field_llinsVillageReport"
            data-cy="llinsVillageReport"
            name="llinsVillageReport"
            formControlName="llinsVillageReport"
          >
            <option *ngIf="!editForm.get('llinsVillageReport')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                llinsVillageReportOption.id === editForm.get('llinsVillageReport')!.value?.id
                  ? editForm.get('llinsVillageReport')!.value
                  : llinsVillageReportOption
              "
              *ngFor="let llinsVillageReportOption of llinsVillageReportsSharedCollection; trackBy: trackLlinsVillageReportById"
            >
              {{ llinsVillageReportOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['llinsVillageReport'])!.invalid &&
            (editForm.get(['llinsVillageReport'])!.dirty || editForm.get(['llinsVillageReport'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['llinsVillageReport'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
