<div>
  <h2 id="page-heading" data-cy="WarehouseHeading">
    <span appTranslate="amSystemPlaygroundApp.warehouse.home.title">Warehouses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.warehouse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-warehouse"
        [routerLink]="['/warehouse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.warehouse.home.createLabel"> Create a new Warehouse </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="warehouses?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.warehouse.home.notFound">No warehouses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="warehouses && warehouses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="uid">
            <span appTranslate="amSystemPlaygroundApp.warehouse.uid">Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="code">
            <span appTranslate="amSystemPlaygroundApp.warehouse.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="name">
            <span appTranslate="amSystemPlaygroundApp.warehouse.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="created">
            <span appTranslate="amSystemPlaygroundApp.warehouse.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdated">
            <span appTranslate="amSystemPlaygroundApp.warehouse.lastUpdated">Last Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="whNo">
            <span appTranslate="amSystemPlaygroundApp.warehouse.whNo">Wh No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="initialBalancePlan">
            <span appTranslate="amSystemPlaygroundApp.warehouse.initialBalancePlan">Initial Balance Plan</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="initialBalanceActual">
            <span appTranslate="amSystemPlaygroundApp.warehouse.initialBalanceActual">Initial Balance Actual</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="user.login">
            <span appTranslate="amSystemPlaygroundApp.warehouse.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="lastUpdatedBy.login">
            <span appTranslate="amSystemPlaygroundApp.warehouse.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="activity.name">
            <span appTranslate="amSystemPlaygroundApp.warehouse.activity">Activity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warehouse of warehouses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/warehouse', warehouse.id, 'view']">{{ warehouse.id }}</a>
          </td>
          <td>{{ warehouse.uid }}</td>
          <td>{{ warehouse.code }}</td>
          <td>{{ warehouse.name }}</td>
          <td>{{ warehouse.created | formatMediumDatetime }}</td>
          <td>{{ warehouse.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ warehouse.whNo }}</td>
          <td>{{ warehouse.initialBalancePlan }}</td>
          <td>{{ warehouse.initialBalanceActual }}</td>
          <td>
            {{ warehouse.user?.login }}
          </td>
          <td>
            {{ warehouse.lastUpdatedBy?.login }}
          </td>
          <td>
            <div *ngIf="warehouse.activity">
              <a [routerLink]="['/activity', warehouse.activity?.id, 'view']">{{ warehouse.activity?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/warehouse', warehouse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/warehouse', warehouse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(warehouse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="warehouses && warehouses.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
