<div>
  <h2 id="page-heading" data-cy="ChvHeading">
    <span appTranslate="amSystemPlaygroundApp.chv.home.title">Chvs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chv.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chv"
        [routerLink]="['/chv/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.chv.home.createLabel"> Create a new Chv </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chvs?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.chv.home.notFound">No chvs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chvs && chvs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span appTranslate="global.field.id">ID</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.uid">Uid</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.code">Code</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.description">Description</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.created">Created</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.lastUpdated">Last Updated</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.mobile">Mobile</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.person">Person</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.district">District</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.homeSubvillage">Home Subvillage</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.managedByHf">Managed By Hf</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.createdBy">Created By</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.chv.lastUpdatedBy">Last Updated By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chv of chvs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chv', chv.id, 'view']">{{ chv.id }}</a>
          </td>
          <td>{{ chv.uid }}</td>
          <td>{{ chv.code }}</td>
          <td>{{ chv.description }}</td>
          <td>{{ chv.created | formatMediumDatetime }}</td>
          <td>{{ chv.lastUpdated | formatMediumDatetime }}</td>
          <td>{{ chv.mobile }}</td>
          <td>
            <div *ngIf="chv.person">
              <a [routerLink]="['/person', chv.person?.id, 'view']">{{ chv.person?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chv.district">
              <a [routerLink]="['/organisation-unit', chv.district?.id, 'view']">{{ chv.district?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chv.homeSubvillage">
              <a [routerLink]="['/organisation-unit', chv.homeSubvillage?.id, 'view']">{{ chv.homeSubvillage?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chv.managedByHf">
              <a [routerLink]="['/organisation-unit', chv.managedByHf?.id, 'view']">{{ chv.managedByHf?.name }}</a>
            </div>
          </td>
          <td>
            {{ chv.createdBy?.login }}
          </td>
          <td>
            {{ chv.lastUpdatedBy?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/chv', chv.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/chv', chv.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chv)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
