<div>
  <h2 id="page-heading" data-cy="DemographicDataSourceHeading">
    <span appTranslate="amSystemPlaygroundApp.demographicDataSource.home.title">Demographic Data Sources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.demographicDataSource.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demographic-data-source"
        [routerLink]="['/demographic-data-source/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemPlaygroundApp.demographicDataSource.home.createLabel"> Create a new Demographic Data Source </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demographicDataSources?.length === 0">
    <span appTranslate="amSystemPlaygroundApp.demographicDataSource.home.notFound">No demographicDataSources found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demographicDataSources && demographicDataSources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span appTranslate="global.field.id">ID</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.uid">Uid</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.code">Code</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.name">Name</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.created">Created</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.lastUpdated">Last Updated</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.user">User</span></th>
          <th scope="col"><span appTranslate="amSystemPlaygroundApp.demographicDataSource.lastUpdatedBy">Last Updated By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demographicDataSource of demographicDataSources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demographic-data-source', demographicDataSource.id, 'view']">{{ demographicDataSource.id }}</a>
          </td>
          <td>{{ demographicDataSource.uid }}</td>
          <td>{{ demographicDataSource.code }}</td>
          <td>{{ demographicDataSource.name }}</td>
          <td>{{ demographicDataSource.created | formatMediumDatetime }}</td>
          <td>{{ demographicDataSource.lastUpdated | formatMediumDatetime }}</td>
          <td>
            {{ demographicDataSource.user?.login }}
          </td>
          <td>
            {{ demographicDataSource.lastUpdatedBy?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demographic-data-source', demographicDataSource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demographic-data-source', demographicDataSource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demographicDataSource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
