<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chvTeam">
      <h2 data-cy="chvTeamDetailsHeading"><span appTranslate="amSystemPlaygroundApp.chvTeam.detail.title">Chv Team</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chvTeam.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.uid">Uid</span></dt>
        <dd>
          <span>{{ chvTeam.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.code">Code</span></dt>
        <dd>
          <span>{{ chvTeam.code }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.name">Name</span></dt>
        <dd>
          <span>{{ chvTeam.name }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.description">Description</span></dt>
        <dd>
          <span>{{ chvTeam.description }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.created">Created</span></dt>
        <dd>
          <span>{{ chvTeam.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.lastUpdated">Last Updated</span></dt>
        <dd>
          <span>{{ chvTeam.lastUpdated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.teamNo">Team No</span></dt>
        <dd>
          <span>{{ chvTeam.teamNo }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.teamType">Team Type</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemPlaygroundApp.ChvTeamType.' + chvTeam.teamType }}">{{ chvTeam.teamType }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.createdBy">Created By</span></dt>
        <dd>
          <span>{{ chvTeam.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.lastUpdatedBy">Last Updated By</span></dt>
        <dd>
          <span>{{ chvTeam.lastUpdatedBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.person">Person</span></dt>
        <dd>
          <div *ngIf="chvTeam.person">
            <a [routerLink]="['/person', chvTeam.person?.id, 'view']">{{ chvTeam.person?.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemPlaygroundApp.chvTeam.responsibleForChv">Responsible For Chv</span></dt>
        <dd>
          <span *ngFor="let responsibleForChv of chvTeam.responsibleForChvs; let last = last">
            <a [routerLink]="['/chv', responsibleForChv?.id, 'view']">{{ responsibleForChv.code }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chv-team', chvTeam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
